:root {
  --bg-white: #fcf5ed;
  --text: #0a0500;
  --white-res: #fff;
  --black-res: #000;
  --main-color: rgb(255, 98, 0);
  --alt-color: rgb(255, 0, 217);
  --design: rgb(222, 15, 0);
  --code: rgb(0, 63, 222);
  --photo: #efca10;
  --music: #8300ee;
  --resume: rgb(33, 119, 2);
  --badge-red: rgb(240, 72, 60);
  --badge-yellow: rgb(238, 173, 53);
  --badge-blue: rgb(22, 179, 242);
  --badge-navy: rgb(22, 29, 242);
  --badge-orange: rgb(255, 98, 0);
  --badge-green: rgb(112, 188, 18);
  --badge-purple: rgb(143, 72, 209);
  --badge-pink: rgb(255, 0, 217);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-white);
}

h1 {
  font-size: 48pt;
  font-weight: 600;
  line-height: 0.9;
}
h4 {
  font-size: 14pt;
}

.body-wrapper {
  display: block;
  min-height: 100vh;
}

.body-text,
.body-text > * {
  font-size: 9pt;
  line-height: 12pt;
  margin-bottom: 0;
}

.body-text a {
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.body-text a:hover {
  color: var(--main-color);
}

@media (min-width: 768px) {
  .tp-1 {
    padding-top: 10%;
  }

  .tp-2 {
    padding-top: 20%;
  }

  .tp-3 {
    padding-top: 30%;
  }

  .tp-4 {
    padding-top: 40%;
  }

  .tp-5 {
    padding-top: 50%;
  }
}

/* DARK MODE STYLES */
body.dark {
  background-color: #0a0500;
  color: #fff;
  --bg-white: #0a0500;
  --text: #fcf5ed;
  --white-res: #000000;
  --black-res: #ffffff;
}


/* SCROLLBAR */
/*scrollbar stuff */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border: 5px solid #fff;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808085;
  border: 4px solid #f4f4f4;
}

/* page sections */

.page-section {
  padding-left: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  min-height: 125px;
}

.main-content {
  position: relative;
  padding-right: 50px;
  /* To avoid overlapping of the title and the content */
}

.page-section-title {
  font-size: 30pt;
  position: absolute;
  transform: translateY(-40%) translateX(-100%) rotate(-90deg);
  transform-origin: center right;
}

.page-section-title-wrapper {
  width: 30px;
}

.footer {
  margin: 10px auto;
  text-align: center;
  font-size: 9pt;
}

/* return to top button */
#return-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 10px;
  /* Place the button 10px from the right */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  /* Set a background color */
  color: inherit;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 14px;
  /* Increase font size */
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}

#return-to-top.dark {
  border-color: white;
}

#return-to-top:hover {
  transform: translateX(-4px) translateY(-4px);
  box-shadow: 4px 4px 0 black;
  /* Add a dark-grey background on hover */
}

#return-to-top.dark:hover {
  box-shadow: 4px 4px 0 white;
  border-color: white;
  /* Add a dark-grey background on hover */
}
