/*NAV STUFF*/
.nav-wrapper {
  position: relative;
  z-index: 99;
}

.nav-content-wrapper {
  padding-top: calc(100vh / 4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  /*background-color: rgba(.2, .2, .2, .75);*/
  background-color: var(--bg-white);
  color: inherit;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.nav-content {
  padding-right: 25%;
}

.screen-title {
  display: inline-block;
  width: 250px;
  height: auto;
}

.mobile-title {
  display: inline-block;
  width: calc(100% - 150px);
  height: auto;
  margin: 25px 0 20px 80px;
  transition: all 0.5s ease-in-out;
}

.mobile-title .st0 {
  transition: 0.2s ease-in-out;
}

.mobile-title:hover #path6 {
  display: inherit;
  stroke: var(--main-color);
  animation: draw 0.5s forwards;
}

/* SVG animation */
.st0 {
  fill: none;
  stroke: var(--text);
  stroke-width: 4;
  stroke-dasharray: 400; /* This value should be longer than the length of the path */
  stroke-dashoffset: 400; /* This value should be longer than the length of the path */
  animation: draw 2s forwards;
}

@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}

#path1 {
  animation: draw 0.75s forwards .4s;
}

#path2 {
  animation: draw 0.75s forwards .8s;
}

#path3 {
  animation: draw 0.75s forwards 1.2s;
}

#path4 {
  animation: draw 0.75s forwards 1.6s;
}

#path5 {
  animation: draw 0.75s forwards 2.4s;
}

#path6 {
  display: none;
}




/* NAV BUTTON */
.nav-button-wrapper {
  position: fixed;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  margin: 10px 20px;
  width: 30px;
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
  z-index: 99;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: var(--text);
  border-radius: 2px;
}

#bar1 {
  height: 6px;
  border-radius: 6px;
}

#bar2 {
  width: 75%;
  transition-duration: 0.8s;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  height: 2px;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

#checkbox:checked + .toggle .bars {
  background-color: var(--text);
}

#checkbox:checked ~ .nav-content-wrapper {
  transform: translateX(0);
}

#checkbox:checked + .content-container {
  z-index: -1;
}

.menu li,
.menu-item a {
  list-style-type: none;
  text-decoration: none;
}

.menu-item a {
  transition: all 200ms ease-in-out;
}

.menu a::before {
  content: "— ";
  padding-right: 8px;
}

.menu li:hover {
  cursor: pointer;
}

.menu-item a:hover {
  cursor: pointer;
  color: var(--main-color);
}

.screen-title .st0 {
  transition: stroke 150ms ease-in-out;
}

.screen-title:hover .st0 {
  cursor: pointer;
  stroke: var(--main-color);
}


@media (max-width: 992px) {
  .menu li,
  .menu-item a {
    color: var(--text);
  }
  .nav-content-wrapper {
    color: var(--text);
  }

  .toggle {
    transform: scale(0.6);
    margin: 5px 10px;
  }
}

@media (min-width: 992px) {
  .toggle {
    display: none;
  }

  .nav-content-wrapper {
    display: block;
    padding: 25vh 0 0 0;
    width: 350px;
    /* adjust this as necessary */
    height: 100%;
    transform: translateX(0);
    background-color: transparent;
  }

  .menu li,
  .menu-item a {
    color: inherit;
  }

  .nav-content {
    padding-right: 0;
  }

  .mobile-title {
    display: none;
  }

  .content-container {
    padding-top: 25vh;
    padding-left: 350px;
    /* adjust this to match the width of the .nav-content-wrapper */
  }
}


