/* about section */
.about-big-text {
  font-size: 40pt;
  display: inline-block; /* Added to display h3 tags inline */
  vertical-align: top; /* Ensures they align at the top */
}

/* Initial style for the links */
.about-big-text-hover {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.about-color:hover {
  color: var(--about);
}

.about-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--about);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.design-color:hover {
  color: var(--design);
}

.design-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--design);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.code-color:hover {
  color: var(--code);
}

.code-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--code);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.photo-color:hover {
  color: var(--photo);
}

.photo-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--photo);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.music-color:hover {
  color: var(--music);
}

.music-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--music);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.resume-color:hover {
  color: var(--resume);
}

.resume-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--resume);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.about-big-text-hover:focus:after,
.about-big-text-hover:hover:after {
  width: 100%;
  left: 0%;
}

/* download resume button */
.body-button {
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 10px;
  /* Place the button 10px from the right */
  border: 1px solid black;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  /* Set a background color */
  color: inherit;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 14px;
  /* Increase font size */
  transition: all 0.3s ease-in-out;
}

.body-button.dark {
  border: 1px solid white;
}

.body-button:hover {
  box-shadow: inset 4px 4px 0 black;
}

.body-button.dark:hover {
  box-shadow: inset 4px 4px 0 white;
}

.download-resume-text {
  transition: all 0.3s ease-in-out;
}

.body-button:hover > * {
  transform: translateX(2px) translateY(2px);
}

/* code badges */
.code-badges-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 50px)); /* Fixed badge width, responsive columns */
  gap: 24px;
  row-gap: 24px;
  margin-bottom: 24px;
}

.code-badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--text);
  color: var(--bg-white);
  font-weight: 500;
  border-radius: 5px;
}

.code-badge::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--text);
  transform: translateX(-4px) translateY(4px);
  z-index: -1;
}

.code-badge.blue::before {
  background-color: rgb(22, 179, 242);
}

.code-badge.red::before {
  background-color: rgb(240, 72, 60);
}

.code-badge.purple::before {
  background-color: rgb(238, 173, 53);
}

/* about section */
.social-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 8px;
}

.social-icon-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--text);
  border-radius: 4px;
}

.social-icon-wrapper:hover {
  transform: translate(-4px, -4px);
}

/* Icons */
.social-icon-wrapper .fa {
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  transform: translateY(5px);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.8;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 200ms;
  color: var(--main-color);
  transform: none;
}