/* about section */
.about-big-text {
  font-size: 40pt;
  display: inline-block; /* Added to display h3 tags inline */
  vertical-align: top; /* Ensures they align at the top */
}

/* Initial style for the links */
.about-big-text-hover {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.about-color:hover {
  color: var(--about);
}

.about-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--about);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.design-color:hover {
  color: var(--design);
}

.design-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--design);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.code-color:hover {
  color: var(--code);
}

.code-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--code);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.photo-color:hover {
  color: var(--photo);
}

.photo-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--photo);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.music-color:hover {
  color: var(--music);
}

.music-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--music);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.resume-color:hover {
  color: var(--resume);
}

.resume-color:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--resume);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.about-big-text-hover:focus:after,
.about-big-text-hover:hover:after {
  width: 100%;
  left: 0%;
}

/* homepage cards */
.design-card {
  border-radius: 4px;
  border: 1px solid var(--text);
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 350px;
  width: 100%;
  margin: 12px 0;
  padding: 0;
}

.card-preview > img {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}

@media (max-width: 767px) {
  .design-card {
    flex-direction: column; /* stack elements vertically on small screens */
  }

  .card-preview > img {
    width: 100%; /* make image full width on small screens */
    height: auto; /* maintain aspect ratio */
    border-bottom: 1px solid black;
  }
}

.design-card:hover {
  transform: translateX(4px) translateY(-4px);
  box-shadow: -4px 4px 0 var(--text);
}

.design-card-link {
  text-decoration: none;
}

.homepage-card-title {
  margin-bottom: 4px;
}

.design-card .card-body {
  padding: 8px;
}

.see-more-wrapper {
  width: fit-content;
}

#featured-code .see-more-wrapper {
  margin-bottom: 32px;
}

.see-more > a {
  text-decoration: none;
}

.see-more > a:hover {
  text-decoration: underline;
}

/* all projects section */
#all-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

#all-projects .design-card {
  margin: 0;
}

#all-projects h3 {
  flex-grow: 1;
}

/* card tags */
.tag {
  width: fit-content;
  background-color: #333;
  /* change to your preferred color */
  border-radius: 25px;
  padding: 4px 8px;
  /* space inside the tag */
  color: #fff;
  /* text color */
  font-size: 9pt;
  /* adjust as needed */
  margin-bottom: 4px;
}

.tag[data-tag="placeholder"] {
  background-color: #aaa;
}

.tag[data-tag="code"] {
  background-color: var(--badge-blue);
  /* change to your preferred color for this specific tag */
}

.tag[data-tag="design"] {
  background-color: var(--badge-red);
  /* change to your preferred color for this specific tag */
}

/* download resume button */
.body-button {
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 10px;
  /* Place the button 10px from the right */
  border: 1px solid black;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  /* Set a background color */
  color: inherit;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 14px;
  /* Increase font size */
  transition: all 0.3s ease-in-out;
}

.body-button.dark {
  border: 1px solid white;
}

.body-button:hover {
  box-shadow: inset 4px 4px 0 black;
}

.body-button.dark:hover {
  box-shadow: inset 4px 4px 0 white;
}

.download-resume-text {
  transition: all 0.3s ease-in-out;
}

.body-button:hover > * {
  transform: translateX(2px) translateY(2px);
}

/* code badges */
.code-badges-wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(75px, 75px)
  ); /* Fixed badge width, responsive columns */
  gap: 24px;
  row-gap: 24px;
  margin-bottom: 24px;
}

.code-badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75px;
  height: 75px;
  background-color: var(--white-res);
  border: 1px solid var(--black-res);
  color: var(--text);
  font-weight: 500;
  border-radius: 5px;
  padding: 1px;
}

.code-badge::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  background-color: var(--main-color);
  transform: translateX(-4px) translateY(4px);
  z-index: -1;
}

.code-badge.blue::before {
  background-color: var(--badge-blue);
}

.code-badge.red::before {
  background-color: var(--badge-red);
}

.code-badge.yellow::before {
  background-color: var(--badge-yellow);
}

.code-badge.pink::before {
  background-color: var(--badge-pink);
}

.code-badge.green::before {
  background-color: var(--badge-green);
}

/* legend for code badges */
.badges-legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.circle-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* spacing between each circle-text pair */
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%; /* makes it a circle */
  margin-right: 8px; /* spacing between circle and text */
}

.circle.blue {
  background-color: var(--badge-blue);
}

.circle.red {
  background-color: var(--badge-red);
}

.circle.pink {
  background-color: var(--badge-pink);
}

.circle.green {
  background-color: var(--badge-green);
}

.circle.yellow {
  background-color: var(--badge-yellow);
}


/* about section */
.social-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}

.social-icon-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--text);
  border-radius: 4px;
  background-color: var(--text);
  transition: all 0.2s ease-in-out;
}

.social-icon-wrapper:hover {
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 0 var(--main-color);
}

/* Icons */
.social-icon-wrapper .fa {
  font-size: 18px;
  width: 30px;
  height: 30px;
  color: var(--bg-white);
  text-decoration: none;
  transform: translateY(5px);
}

/* Add a hover effect if you want */
.fa:hover {
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 1000ms;
  color: var(--main-color);
}
