/* code previews */
iframe {
    border-radius: 32px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* This ensures that content doesn't spill outside the iframe if it's larger than the iframe dimensions */
}

.game-widget {
    position: relative;
    border: 1px solid var(--black-res);
    border-radius: 8px;
    padding-bottom: 75%;
    /* This value determines the aspect ratio */
    height: 0;
    background-color: var(--white-res);
    box-shadow: -4px 4px 0 var(--black-res);
    /* This is a maybe. */
}

/*project pages */
.proj-preview-frame {
    margin: 0 auto;
    @media (max-width: 960px) {
        width: fit-content;
        margin-bottom: 24px;
    }
}

.proj-preview-image {
    border-radius: 8px;

    @media (max-width: 960px) {
        max-width: 250px;
    }
}

.main-content .row {
    margin-bottom: 18px;
}

/* projects cards */
.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            200px);
    /* This will create columns that are exactly 200px wide */
    gap: 16px;
    /* Adjust this value for spacing between grid items */
    margin-bottom: 24px;
}

.project-section-wrapper h3 {
    margin-bottom: 16px;
}

.project-card {
    align-items: center;
    border: 1px solid var(--black-res);
    background-color: var(--white-res);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width: 200px;
    /* Set max width */
    height: 400px;
}

.project-card>a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--text);
}

.project-card>a:hover {
    color: var(--main-color);
}

.project-card:hover {
    transform: translateX(-4px) translateY(-4px);
    box-shadow: 4px 4px 0 var(--text);
    color: var(--main-color);
}

.project-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will push the tags to the bottom */
    padding: 6px 8px;
}

.project-card-title {
    width: 160px;
    /* Fixed width */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowed content */
    text-overflow: ellipsis;
}

.project-card-description {
    flex-grow: 1;
}


/* tags */
.tags-container {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* space between tags */
    margin-bottom: 8px;
    /* space below the tags container */
}

.tag {
    background-color: #333;
    /* change to your preferred color */
    border-radius: 25px;
    padding: 4px 8px;
    /* space inside the tag */
    color: #fff;
    /* text color */
    font-size: 9pt;
    /* adjust as needed */
}

/* If you want different colors for different tags, you can add more styles like this */
.tag[data-tag="Full Stack"] {
    background: rgb(22, 179, 242);
    background: linear-gradient(90deg,
            rgba(22, 179, 242, 1) 28%,
            rgba(84, 0, 176, 0.75) 50%,
            rgba(240, 72, 60, 1) 72%);
}

.tag[data-tag="React"] {
    background-color: var(--badge-red);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="JS"] {
    background-color: var(--badge-red);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="D3.js"] {
    background-color: var(--badge-red);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="HTML"] {
    background-color: var(--badge-blue);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="CSS"] {
    background-color: var(--badge-blue);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="UI/UX Design"] {
    background-color: var(--badge-blue);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Concept"] {
    background-color: var(--badge-purple);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Marketing"] {
    background-color: var(--badge-pink);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Campaign"] {
    background-color: var(--badge-pink);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Typography"] {
    background-color: var(--badge-yellow);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Marketing"] {
    background-color: var(--badge-yellow);
    /* change to your preferred color for this specific tag */
}

.tag[data-tag="Logos"] {
    background-color: var(--badge-orange);
    /* change to your preferred color for this specific tag */
}